body{
    background-color: rgb(255, 247, 234);
    margin: 0px;
}
main{
    margin-left: 5rem;
    padding-left: 2rem;
    padding-top: 2rem;
}


#homebutton{
    position: relative;
    color: rgb(62, 219, 62);
    font-size: 4rem;
    text-decoration: none;
    font-family: Impact;
    top: -10px;
}

.docent_header{
    display: flex;
    justify-content: left;
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: rgb(110, 0, 28);
    box-shadow: 1px 1px 5px black;
    
}
.navbar-nav{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.navbar-link{
    color: whitesmoke;
    fill: whitesmoke;
    display: flex;
    align-items: center;
    height: 6rem;
    text-decoration: none;
    
}

.navbar-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.link-text{
    visibility: hidden;
    font-family: monospace;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in;
}
.nav-item{
    width: 100%;
    box-shadow: 0px 4px 5px -2px darkred;
}
.nav-item:last-child{
    margin-top: auto;
    margin-bottom: 4px;
}
.nav-item:hover{
    background-color: rgb(40, 40, 40);
    transition: 400ms ease;
}
.navbar:hover{
    width: 9rem;
    transition: 400ms ease;
}
.navbar:hover .navbar-link{
    fill: rgb(209, 0, 65);
    transition: 400ms ease-out;
}
.navbar:hover #homebutton{
    color: black; 
}
.navbar:hover .link-text{
    visibility: visible;
    opacity: 1;
}

.klassen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.klas{
    width: 20rem;
    height: 20rem;
    background-color: rgb(110, 0, 28);
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: darkred;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 400ms ease;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.lessen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.les{
    width: 20rem;
    height: 20rem;
    background-color: rgb(110, 0, 28);
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: darkred;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 400ms ease;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

h1 {
    font-family: monospace;
    font-size: 1.5rem;
    color: darkslategray;
    font-weight: bold;
}

h2 {
    font-family: monospace;
    font-size: 1rem;
    color: darkslategray;
    font-weight: bold;
}

tr {
    font-family: monospace;
    font-size: 1rem;
    color: darkslategrey;
    font-weight: bold;
}
table{

    border-spacing: 0px;
}

th {
    font-family: monospace;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-align: left;
    background-color: rgb(209, 0, 65);
    padding: 10px;
    border: solid 1px black;
}
td{
    border: solid 1px black;
}
label {
    font-family: monospace;
    font-size: 1rem;
    color : darkslategrey;
    font-weight: bold;
}

p.klas {
    font-family: monospace;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

p.lessen {
    font-family: monospace;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.add_button{
    margin-left: 60vw;
    border: 2px solid rgb(110, 0, 28);
    border-radius: 5px;
    background-color: rgb(110, 0, 28);
    color: white;
    max-width: 50px;
    max-height: 50px;
    font-size: 32px;
    flex-grow: 1;
    text-align: center;
}

.lessonmaker{
    margin-top: 15px;
    border: 2px solid rgb(110, 0, 28);
    border-radius: 5px;
    background-color: rgb(110, 0, 28);
    color: white;
    text-align: center;
}

.addform{
    border: 1px solid black(110, 0, 28);
    border-radius: 5px; 
    padding: 10px;
}

a {
    font-family: monospace;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

p {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
}

