body{
    background-color: rgb(255, 247, 234);
    margin: 0px;

}
main{
    margin-left: 5rem;
    padding: 1rem;
}

#klassenlist {
    list-style-type: none;
    display: flex;
    justify-content: left;
  }

#namelist {
    list-style-type: none;
    align-items: left;
}

.searchbar{
    box-sizing: border-box;
    padding: 14px 20px 12px 45px;
    border: none;
    border-radius: 5px;
}

#homebutton{
    position: relative;
    color: rgb(62, 219, 62);
    font-size: 4rem;
    text-decoration: none;
    font-family: Impact;
    top: -10px;
}

.docent_header{
    display: flex;
    justify-content: left;
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: rgb(110, 0, 28);
    box-shadow: 1px 1px 5px black;
    
}

.navbar-nav{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.navbar-link{
    color: whitesmoke;
    fill: whitesmoke;
    display: flex;
    align-items: center;
    height: 6rem;
    text-decoration: none;
    overflow: hidden;
}

.navbar-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.link-text{
    visibility: hidden;
    font-family: monospace;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in;
}
.nav-item{
    width: 100%;
    box-shadow: 0px 4px 5px -2px darkred;
}
.nav-item:last-child{
    margin-top: auto;
    margin-bottom: 4px;
}
.nav-item:hover{
    background-color: rgb(40, 40, 40);
    transition: 400ms ease;
}
.navbar:hover{
    width: 9rem;
    transition: 400ms ease;
}
.navbar:hover .navbar-link{
    fill: rgb(209, 0, 65);
    transition: 400ms ease-out;
}
.navbar:hover #homebutton{
    color: black; 
}
.navbar:hover .link-text{
    visibility: visible;
    opacity: 1;
}

.klassen{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.klas{
    width: 20rem;
    height: 20rem;
    background-color: rgb(110, 0, 28);
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: darkred;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 400ms ease;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 7px 1px black;

}

.klasitem{
    margin-left: 20px;
    font-family: monospace;
    font-size: 1rem;
    color: darkslategrey;
}

.optionButton{
    color:rgb(110, 0, 28);
    background-color: white;
    border: solid 1px black;
    border-radius: 4px;
    padding: 2px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.392);
}
.optionButton:hover{
    transform: scale(105%);
    transition: 300ms ease;
    box-shadow: 0px 0px 10px 2px rgb(203, 0, 51);
}
.lessen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.les{
    width: 20rem;
    height: 20rem;
    background-color: rgb(110, 0, 28);
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: darkred;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 400ms ease;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

h1 {
    font-family: monospace;
    font-size: 1.5rem;
    color: darkslategray;
    font-weight: bold;
}

h2 {
    font-family: monospace;
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

tr {
    font-family: monospace;
    font-size: 1rem;
    color: darkslategrey;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 10vw;
    justify-content: center;
}

.newExpandDiv[aria-expanded="false"]{
    display: none;
}
.delExpandDiv[aria-expanded="false"]{
    display: none;
}
.newExpandDiv[aria-expanded="true"]{
    display: block;
}
.delExpandDiv[aria-expanded="true"]{
    display: block;
}
#namelistnew{
    display: none;
    list-style: none;
    padding: 0;
}
#namelistnew:hover{
    display: block;
}
#namelistdel{
    display: none;
    list-style: none;
    padding: 0;
}
#namelistdel:hover{
    display: block;
}
#newstudent:focus ~ #namelistnew{
    display: block;
}
#delstudent:focus ~ #namelistdel{
    display: block;
}
#naam:hover{
    cursor: pointer;
    text-shadow: 0px 0.5px 2px black;
}
.newExpand{
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(214, 0, 53);
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.delExpand{
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(214, 0, 53);
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.newExpand:hover{
    scale: 105%;
    box-shadow: 0px 0px 5px 0.5px black;
}
.delExpand:hover{
    scale: 105%;
    box-shadow: 0px 0px 5px 0.5px black;
}
table{
    background-color: rgb(255, 247, 234);
    border-spacing: 0px;
    box-shadow: 0px 0px 5px 1px black;
}

th {
    font-family: monospace;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-align: left;
    background-color: rgb(209, 0, 65);
    padding: 5px;
    border: solid 1px black;
}
td{
    border: solid 1px black;
}
label {
    font-family: monospace;
    font-size: 1rem;
    color : #001e48;
    font-weight: bold;
    display: flex;
    padding-bottom: 5px;
}

p.klas {
    font-family: monospace;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

p.lessen {
    font-family: monospace;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.add_button{
    margin-left: 60vw;
    border: 2px solid rgb(110, 0, 28);
    border-radius: 5px;
    background-color: rgb(110, 0, 28);
    color: white;
    max-width: 50px;
    max-height: 50px;
    font-size: 32px;
    flex-grow: 1;
    text-align: center;
}

.add_studenten{
    border: 2px solid rgb(110, 0, 28);
    border-radius: 5px;
    background-color: rgb(110, 0, 28);
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.lessonmaker{
    margin-top: 15px;
    border: 2px solid rgb(110, 0, 28);
    border-radius: 5px;
    background-color: rgb(110, 0, 28);
    color: white;
    text-align: center;
}

.addform{
    border: 1px solid black(110, 0, 28);
    border-radius: 5px; 
    padding: 10px;
}

a {
    font-family: monospace;
    font-size: 1rem;
    color: darkslategrey;
    text-decoration: none;
    font-weight: bold;
}

p {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
}

.log-in {
    padding: 5px;
    text-align: center;
    align-items: center;
}

.register {
    padding: 5px;
    text-align: center;
    align-items: center;
}

.redirect {
    text-align: center;
    align-items: center;
}

.form-field {
    width: 400px;
    margin: auto;
    position: relative;
    padding: 10px;
}

.form-submit {
    margin: 10px;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#page-text {
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #001e48;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 600;
}

input[id="username"] {
    outline: none;
    display: block;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #001e48;
    background-color: transparent;
    line-height: 1.38;
    font-size: 2.2rem;
    font-weight: 500;
}

input[id="password"] {
    outline: none;
    display: block;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #001e48;
    background-color: transparent;
    line-height: 1.38;
    font-size: 2.2rem;
    font-weight: 500;
}

input[id="submit"] {
    padding: 12.5px 60px;
    border-radius: 500px;
    margin-bottom: 30px;
    background-color: #d30f4c;
    color: #ffffff;
    border: none;
    font-size: 1.2rem;
}

.error {
    display: block;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 396px;
    padding: 12.5px 60px;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    border: none;
    font-size: 1rem;
    font-family: monospace;
}

input[id="username"]:focus {
    outline: none;
    border-bottom: 4px solid #d30f4c;
    bottom: -4px;
}

input[id="password"]:focus {
    outline: none;
    border-bottom: 4px solid #d30f4c;
    bottom: -4px;
}

img[id="start-logo"] {
    margin-left: 10px;
    margin-right: 10px;
    width: 8%;
    display: flex;
    margin-bottom: -60px;
}

.container-qr{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
}

.container-qr img{
    box-shadow: 0px 0px 10px 1px black;
}