{% extends "docentindex.html" %}

{% block qr %}
<img src="{{img}}">
{% endblock %}

{% block aanwezigheid %}

<h2>Studenten in les: {{  lesnaam  }}</h2>
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Studentnummer</th>
                <th>Aanwezigheid</th>
            </tr>
        </thead>
        <tbody id="aanwezigheid">

        </tbody>
    </table>
<script>
    const fetch_aanwezigheid = async () => {
    try {
        const response = await fetch('/les/{{les_id}}/getaanwezigheid', {
            method: 'GET',
            headers: {
                'accept': 'application/json',
                'Content-Type': 'application/json'
            }
        });
        const data = await response.json();
        console.log(data);
        if (response.error) {
            console.log("Some error with fetching JSON from highscore server")
        } else if (!response.ok) {
            console.log("Some non-200 HTTP response code")
        } else {
            set_aanwezigheid(data)
        }
    } catch (e) {
        console.log("Some error with fetching JSON from highscore server: " + e)
    }
    }
        
    function set_aanwezigheid(package) {
    let aanwezigheid = document.getElementById("aanwezigheid")
    aanwezigheid.replaceChildren()
    package.forEach(function (aanwezig) {
        if (aanwezig["aanwezigheid"] == 1) {
            aanwezig["aanwezigheid"] = "Aanwezig"}
        else if (aanwezig["aanwezigheid"] == 0) {
            aanwezig["aanwezigheid"] = "Afwezig"}
        aanwezigheid.innerHTML += `
        <tr>
            <td>${aanwezig["naam"]}</td>
            <td>${aanwezig["studentnummer"]}</td>
            <td>${aanwezig["aanwezigheid"]}</td>
        </tr>
        `
        })
    }
    fetch_aanwezigheid()
    let interval_id = setInterval(fetch_aanwezigheid, 4000)

</script>
{% endblock %}