{% extends "studentindex.html" %}

{% block afwezigform %}
<p>Afwezig melden voor {{vak}}!</p>
<form id="form">
    <label>Naam: {{  naam  }}</label>
    <br>
    <input type="hidden" id="naam" value="{{ naam }}">
    <br>
    <label>Studentnummer: {{  studentnummer  }}</label>
    <br>
    <input type="hidden" id="studentnummer" value="{{ studentnummer }}">
    <br>
    <label>Reden voor afwezigheid: </label>
    <br>
    <input type="text" id="reden" value="">
    <div id="btn" style="display: block;">
    <br>
    <button class="button" id="btn-form" onclick="submit_entry();">Afmelden</button>
    </div>
</form>
<div id="confirm" style="display: none;">
    <strong><p>je bent succesvol afgemeld voor {{ vak }}</p></strong>
</div>

<script>
    $("form").submit(function(e) {
    e.preventDefault();
    });
    function submit_entry(){
        try{
            var naam = document.getElementById("naam");
            var studentnummer = document.getElementById("studentnummer");
            var reden = document.getElementById("reden");

            var entry = {
                naam: naam.value,
                studentnummer: studentnummer.value,
                aanwezigheid: 2,
                reden: reden.value
            };

            fetch('/{{les}}/afwezig',{
                method: 'POST',
                body: JSON.stringify(entry),
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                }
            })
            } catch (error){
                console.log(error);
            }

    }

    var nextStep = document.querySelector('#btn-form');
      
      nextStep.addEventListener('click', function (e) {
        e.preventDefault();
        document.getElementById('btn').style.display = 'none';
        document.getElementById('confirm').style.display = 'block';
      });
</script>
{% endblock %}