{% extends "studentindex.html" %}

{% block form %}
<p>Aanwezigheid voor les {{les}}!</p>
<form id="form">
    <label>Naam:</label>
    <br>
    <input type="text" id="naam">
    <br>
    <label>Studentnummer:</label>
    <br>  
    <input type="number" id="studentnummer">
    <br><br>
    <button class="button" onclick="submit_entry();">Aanwezig</button>
</form>
<script>
    $("form").submit(function(e) {
    e.preventDefault();
    });
    function submit_entry(){
        try{
            var naam = document.getElementById('naam');
            var studentnummer = document.getElementById('studentnummer');

            var entry = {
                naam: naam.value,
                studentnummer: studentnummer.value,
                aanwezigheid: 1
            };

            fetch('/{{les}}/aanwezig',{
                method: 'POST',
                body: JSON.stringify(entry),
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                }
            })
            } catch (error){
                console.log(error);
            }

    }

</script>
{% endblock %}