{% extends "index.html" %}

{% block klas %}
            <p>Dit wordt het overzicht van klassen</p>
            <div class="klassen">
                <a href="/klas/1">
                    <div class="klas">
                        <h2>Klas 1</h2>
                        <p>dit is het overzicht van klas 1</p>
                    </div>
                </a>
                <a href="/klas/2">
                    <div class="klas">
                        <h2>Klas 2</h2>
                        <p>dit is het overzicht van klas 2</p>
                    </div>
                </a>
                <a href="/klas/3">
                    <div class="klas">
                        <h2>Klas 3</h2>
                        <p>dit is het overzicht van klas 3</p>
                    </div>
            </div>
{% endblock %}