{% extends "docentindex.html" %}

{% block klas %}
            <p>Dit wordt het overzicht van klassen</p>
            <div class="klassen">
                <div class="klas">
                    <h2>Klas 1A</h2>
                    <a class="optionButton" href="/klas/1a/studenten">Studenten</a>
                    <a class="optionButton" href="/klas/1a/lessen">Lessen</a>
                </div>
                <div class="klas">
                    <h2>Klas 1B</h2>
                    <a class="optionButton" href="/klas/1b/studenten">Studenten</a>
                    <a class="optionButton" href="/klas/1b/lessen">Lessen</a>
                </div>
                <div class="klas">
                    <h2>Klas 1C</h2>
                    <a class="optionButton" href="/klas/1c/studenten">Studenten</a>
                    <a class="optionButton" href="/klas/1c/lessen">Lessen</a>
                </div>
                <div class="klas">
                    <h2>Klas 1D</h2>
                    <a class="optionButton" href="/klas/1d/studenten">Studenten</a>
                    <a class="optionButton" href="/klas/1d/lessen">Lessen</a>
                </div>
            </div>
{% endblock %}