{% extends "index.html" %}

{% block les %}
            <p>dit wordt het overzicht van de lessen</p>
            <div class="lessen">
                <a href="/les/1">
                    <div class="les">
                        <h2>Les 1</h2>
                        <p>dit is het overzicht van les 1</p>
                    </div>
                </a>
                <a href="/les/2">
                    <div class="les">
                        <h2>Les 2</h2>
                        <p>dit is het overzicht van les 2</p>
                    </div>
                </a>
                <a href="/les/3">
                    <div class="les">
                        <h2>Les 3</h2>
                        <p>dit is het overzicht van les 3</p>
                    </div>
            </div>
{% endblock %}