<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>HR presentie</title>
</head>
<body>
    <div class="register">
        <img src="{{ url_for('static', filename='Hogeschool-rotterdam-logo.webp') }}" alt="Hogeschool Rotterdam logo" id="start-logo">
        <h1 id="page-text">Registeer</h1>
        <form method="post" action="" autocomplete="off">
            {{ form.hidden_tag() }}
            <div class="form-field">
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div class="form-field">
                {{ form.password.label }}
                {{ form.password }}
            </div>
        {% if error %}
            <div class="error"><strong>Error:</strong> {{ error }} </div>
        {% endif %}
            <div class="form-submit">
                {{ form.submit }}
            </div>
        </form>
        <div class="redirect">
            <a href="{{ url_for('login') }}">Heb je al een account? Log in!</a>
        </div> 
    </div>
</body>
</html>